*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  background-color: #0F172A;
  
  
}
P{
  color: aliceblue;
  font-size: 30px;
  margin-top: 40px;
  margin-left: 20px;
}
spam{
  color: #22D3EE;

}
header{
  display: flex;
  justify-content: space-between;
 
  
}
 
  
  


.bam{
  font-size: 34px;
  margin-top: 150px;
}
 


.mab{
  font-size: 20px;
  margin-top: 0px;
  width: 250px;
}
hr{
  width: 100%;
  
}
.pro{
   width: 300px;
   height: 300px;
  border-radius: 50%;
  
   
}
nav{
  display: flex;
  justify-content: space-between;
}
.contac,h2{
  font-size: 70px;
  color: #22D3EE;
  display: flex;
  justify-content: center;
  margin-top: 170px;
}

 

.glow{
  height: 100%;
  width: 25vw;
  max-width: 300px;
  min-width: 200px;
  margin: 100px auto 0 auto;
  border-radius: 50%;
  overflow: hidden;
   
  box-shadow: 0 0 20px #4ecdc4,0 0 40px #349090;
  animation: glow-border 1,5s infinite alternate;
}
.image{
  width: 100%;
  height: auto;
  display: block;

   
   
  
  
   

}
.flex{
  display: flex;
  
}
.group1{
  display: block;
  margin-top: 50px;
}
h1{
  color: #22D3EE;
  margin-left: 20px;
}
.my{
  width: 90%px;
  font-size: 17px;
  max-width: 350px;

}
.landing{
 
  width: 80%;
  max-width: 500px;
  margin: 50px auto 0 auto;
  
}

.now{
  margin-top: 80px;
}
h2,.group1,.contac{
  animation: text-appear both;
  animation-timeline: view(10% 5%);
  animation-range: entry 20% cover 100vh;
 } @keyframes text-appear {
    from{
      opacity:0;
      transform:translatey(0);

    }
    to{
      opacity:1;
      transform:translatey(0);
    }
  }

  .landing{
    animation: fadeup both;
    animation-timeline: view();

  }
  @keyframes fadeup {
    from{
      opacity:0;
      transform:translatey(10px) scale(0.5);

    }
    to{
      opacity:1;
      transform:translatey(0 ) scale(1);
    }

  }
  .foter{
    color: #0F172A;
    font-size: 14px;
    
    
  }
  footer{
    width: 100%;
    height: 100px;
    background-color: #22D3EE;
  }
















.hey{
  display: block;
  margin: 50% auto 0 auto;
  
  margin-top: 30px;
}

.hire{
  
  background-color: #22D3EE;
  width: 150px;
  padding: 7px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
   
  
 
  
  
}
.social-links{
  margin-left: 20px;
  font-size: 23px;
  margin-top: 10px;
}
.btn{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 20px;

  margin-top: 30px;
}

.hire:hover{
   background-color: #22D3EE;
  opacity: 0.5;

}

.contact{
  width: 150px;
  padding: 7px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #22D3EE;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.contact::before{
 content: '';
 position: absolute;
 top: 0;
 left:0;
 width:0%;
 height: 100%;
 background: #22D3EE;
 z-index: -1;transition: 0.5s;
}
.contact:hover::before{ 
  width:100%;
  

  
}

    
